{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Character Recognition with AI</h1>
    <p>A character Recognition with Multi Layer Perceptron(MLP) Neural Network.</p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span> Load image</a> -->
    <!-- <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a> -->
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input id="upload_imput" type="file" name="myfile" style="text-align: center">
      <button type="submit" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span>Load Image</button>
      <br><br>
    </form>
  </div>

  {% if uploaded_file_url %}

    <img src="{% static 'mediaa/charTarget.jpg' %}">
    <br>
  {% endif %}

  {% if charFounded %}
    <p>The character Recognized is: </p>
    <h1>{{character}}</h1>
  {% endif %}

</div>
{% endblock %}
